@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
	color: rgb(226, 226, 226);
	font-family: "Vazirmatn", sans-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	transition: all 0.5s;
}
body {
	background-color: #0a0a0a;
}

::selection {
	/* color: crimson; */
	background: crimson;
}

img {
	border-radius: 1.2rem;
	width: 2.5rem;
	height: 2.5rem;
}

p {
	margin: 0.625rem;
	text-align: justify;
	text-justify: distribute;
}
.main-header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 4rem;
	top: 0;
	padding: 0.5rem;
	background-color: #212121;
	position: fixed;

	> div {
		display: inline-block;
	}
}
.main-nav {
	display: inline-block;
	// width: (100% - 4.125rem);
	vertical-align: middle;
}
.main-nav__item {
	display: inline-block;
	margin: 0 0.3125rem;
	padding: 0.5rem;
}
.main-nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;

	li {
		display: inline-block;
		font-size: large;
	}

	a:hover {
		color: rgb(0, 140, 255);
	}

	button img {
		width: 2rem;
		height: 2rem;
	}
}

.mobile-nav {
	// display: none;
	left: 100%;
	width: 100vw;
	height: 100vh;
	top: 0;
	position: fixed;
	text-align: center;
	background: #181818;
	z-index: 101;
	border-radius: 0rem 0rem 0.625rem 0.625rem;
	text-align: center;
	transition: all 0.5s ease;

	svg {
		width: 10%;
	}
}

.slide {
	left: 0 !important;
}

.mobile-nav-close {
	right: 1.5rem;
	top: 0.5rem;

	position: absolute;
}
.mobile-nav-button {
	background: none;
	border: none;
	cursor: pointer;
	padding-right: 1rem;
}

.white {
	filter: invert(98%) sepia(4%) saturate(71%) hue-rotate(146deg)
		brightness(112%) contrast(100%);
}

.mobile-nav__items {
	list-style: none;
	font-size: x-large;
	padding: 0.625rem;
	margin: 20% auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	a {
		margin: 6.25rem;
	}
}

.mobile-nav__item {
	/* padding: 2rem; */
	padding: 1rem;
}

.mobile-nav__item:hover {
	color: rgb(0, 140, 255);
	background: #5543cc3d;
	border-radius: 6.25rem 0rem 0rem 6.25rem;
}

.logo {
	margin: 0.5rem;
	position: fixed;
	left: 1rem;
	top: 0.001rem;
}

a {
	text-decoration: none;
}

/* Button CSS */
.logo-text {
	left: 10px;
	background-image: linear-gradient(
		92.88deg,
		#455eb5 9.16%,
		#5643cc 43.89%,
		#673fd7 64.72%
	);
	font-size: 1.4rem;
	border-radius: 1.5625rem;
	border-style: none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	flex-shrink: 0;
	font-weight: bold;
	height: 3rem;
	padding: 0 1.6rem;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.25) 0 0.1875rem 0.5rem;
	transition: all 0.5s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	display: flex;
	align-items: center; /*Vertical align*/
	justify-content: center; /*horizontal align*/
}

.logo-text:hover {
	box-shadow: rgba(80, 63, 205, 0.5) 0 0.125rem 1.875rem;
	transition-duration: 0.1s;
}

@media (min-width: 48rem) {
	.logo-text {
		padding: 0 2.6rem;
	}
}

.section-title {
	text-align: center;
	font-weight: bold;
	background-color: rgba(10, 52, 107, 0.178);
	border-radius: 1.5625rem;
	margin-top: 3rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-image {
	text-align: center;

	img {
		margin-top: 2rem;
		width: 100%;
		max-width: 58.4375rem;
	}
}

.update-message {
	margin-top: 5rem;
}

h3.update-message {
	padding: 0.6125rem;
	color: seagreen;
	background: rgb(3, 29, 14);
	border-radius: 0.625rem;
	font-weight: bold;
}
h3.update-message::selection {
	background: springgreen;
}

/* li::marker {
	color: red;
} */

p.about-me {
	font-size: large;
	font-weight: bold;
	color: #b3b3b3;
	padding: 0.625rem;
	font-weight: 500;

	span {
		color: #6c63ff;
		font-weight: bold;
	}
}
.content-card {
	background: #181818;
	border-radius: 1.25rem;
}

.portfolio-cards {
	border-radius: 1.25rem;
	vertical-align: middle;
	text-align: center;
}

.portfolio-card {
	width: 95%;
	height: 20rem;
	padding: 0.625rem;
	border-radius: 1.25rem;
	background: #181818;
	font-size: 2.5vw;
	font-weight: 500;
	text-align: center;
	margin: 0.625rem;
	display: inline-block;
	color: #b3b3b3;
}

.portfolio-card__img {
	width: 100%;
	height: 15rem;
	border-radius: 0.9375rem;
}

section,
h1,
h2,
h3 {
	margin: 0.9375rem;
}

article > h3 {
	margin: 0.6rem 0rem 1rem 0rem;
	font-size: x-large;
}

.skill-icons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.skill-icon {
	font-size: 1.7rem;
	text-align: center;
	margin: 0.625rem;
	width: 42%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills {
	text-align: center;
}

.developer p {
	font-size: large;
	font-weight: 500;
}

/* Footer */

footer {
	background: #212121;
	padding: 0.625rem;
	margin-top: 3rem;

	a {
		color: #695df8;
		font-weight: bold;
	}

	div p {
		text-align: center;
	}
}

.social-container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

	img {
		width: 3rem;
		height: 3rem;
		margin: 0.5rem;
	}
}

/* Tablet */
@media (min-width: 30rem) {
	.hero-image {
		text-align: center;

		img {
			width: 100%;
			padding: 2.5rem;
			max-width: 58.4375rem;
		}
	}

	.skill-icons {
		gap: 3rem;
	}

	.skill-icon {
		width: 15%;
		margin: 0.625rem;
	}

	.portfolio-card {
		width: 45%;
		padding: 0.625rem;
		border-radius: 1.25rem;
		background: #181818;
		font-size: 2.5vw;
		font-weight: 500;
		text-align: center;
		margin: 0.625rem;
		display: inline-block;
		color: #b3b3b3;
	}

	.portfolio-card__img {
		width: 100%;
		height: 30vw;
		border-radius: 0.9375rem;
	}
}

/* Desktop */

@media (min-width: 48rem) {
	.skill-icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}
}
