body {
  background-color: rgb(218, 241, 248);
}
@font-face {
  font-family: "Samim";
  src: url("/resources/Samim.ttf") format("truetype");
}
* {
  border-radius: 20px;
  padding: 0.5rem;
  font-family: Samim;
}
